<div class="jumbotron">
<div class="container">
  <h1>Welcome to the Deals App<br>
   <small>Please sign in with an OpenID service:</small>
  </h1>

    </p>
      <a href="/auth/open_id" class="auth_provider">
        <%= image_tag "open_id_64.png", :size => "64x64", :alt => "OpenID" %>
        OpenID
      </a>
  </div>
</div>